*.sink.file.class=org.apache.hadoop.metrics2.sink.FileSink
*.period=10
namenode.sink.ganglia.servers={{ gmetadip }}:8649
datanode.sink.ganglia.servers={{ gmetadip }}:8649
resourcemanager.sink.ganglia.servers={{ gmetadip }}:8649
nodemanager.sink.ganglia.servers={{ gmetadip }}:8649
mrappmaster.sink.ganglia.servers={{ gmetadip }}:8649
jobhistoryserver.sink.ganglia.servers={{ gmetadip }}:8649

