127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

{{ namenode1 }} namenode1
{{ namenode2 }} namenode2
{{ datanode1 }} datanode1
{{ datanode2 }} datanode2
{{ datanode3 }} datanode3
