root soft nofile 65535
root hard nofile 65535
* soft nofile 65535
* hard nofile 65535
{{ user }} soft memlock unlimited
{{ user }} hard memlock unlimited
{{ user }} soft nofile 65536
{{ user }} hard nofile 65536

